.AOIEditor {
  padding-left: 15%;
  width: 70%;
  height: 80%;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.AOIShape {
  display: inline-block;
  width: auto;
  height: auto;
}

.imagePreviewContainer{
  position: relative;
  display: inline-block;

  align-items: center;
}

.imageCanvas {
  position: relative;
  display: block;
  align-self: center;

  max-width: 100%;
  max-height: 400px;

  object-fit: contain;

  margin: auto;
}

.AOICanvas {
  position: absolute;
  display: flex;
  /* align-items: center;
  justify-content: center;
  align-self: center; */
  top: 0;
  left: 0;
}

.supportingToolBox {
  position: relative;
  float: right;
}
