/*
Primary theme colors
light: "#7986cb"
main: "#3f51b5"
dark: "#303f9f"
*/

.Background{
  width: 100%;
  height: 100%;
  background-color: #EEE;
}

/****** Asset Viewer ********/
.AssetViewer{
  position: absolute;
  width: 28%;
  height: 96%;
  top: 2%;
  left: 2%;
  background-color: white;

  border-width: thin;
  border-style: solid;
  border-color: #303f9f;
  border-radius: 11px;
}

.collapsableHeaderBtnsContainer{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}
.collapsableBtns{
  position: absolute;
  left: 62%;
  height: 100%;
  width: 38%;
}
.searchWrapperDiv{
  position: absolute;
  height: 100%;
  width: 62%;
}

.AssetViewerContent{
  position: absolute;
  width: 100%;
  height: 95%;
  top: 5%;
}

.AssetViewerTitle{
  padding: 5px 0px 2px 15px;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #999;

  position: absolute;
  width: 100%;
  height: 5%;
}

.ContainerSeperator{
  position: relative;
  border-top-width: thin;
  border-top-style: solid;
  border-color: #303f9f;
}

/****** Asset Editor ********/
.AssetEditor{
  position: absolute;
  width: 66%;
  height: 96%;
  top: 2%;
  left: 32%;
  background-color: white;

  border-width: thin;
  border-style: solid;
  border-color: #303f9f;
  border-radius: 11px;
}
.AssetEditorTitle{
  padding: 5px 0px 2px 15px;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #999;
  position: absolute;
  width: 100%;
  height: 5%;
}
.AssetEditorContent{
  position: absolute;
  width: 100%;
  height: 95%;
  top: 5%;
  border-top-width: thin;
  border-top-style: solid;
  border-color: #303f9f;
}

.componentContainer{
  margin-top: 1%;
  position: absolute;
  width: 94%;
  height: 98%;
  left: 3%;
  overflow-y:auto;
  overflow-x: hidden;
}

.formControl{
  width: 49.5%;
}


/***** Others *****/
.playButton{
  position: relative;
  width: 50px;
  height: 50px;
  transform: translate(25px, 25px);
}

.playButtonWrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(100% - 150px);
  left: calc(100% - 100px);
}
