.Background{
  width: 100%;
  height: 100%;
  background-color: #EEE;

  position: relative;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

/****** Asset Viewer ********/
.AssetViewer{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  position: absolute;
  width: 28%;
  height: 96%;

  top: 2%;
  left: 2%;
  background-color: white;

  border-width: thin;
  border-style: solid;
  border-color: #303f9f;
}

.AssetViewerTitle{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex: 1 1 auto;
  min-height: 200;

  position: relative;

  border-bottom-width: thin;
  border-bottom-style: solid;
  border-color: #303f9f;

  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #999;

  cursor: default;
}

.AssetViewerTitleText{
  position: relative;
  width: 100%;

  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.AssetViewerContent{
  position: relative;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1 1 100%;

  overflow-y: scroll;
}

.ContainerSeperator{
  position: relative;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-color: #303f9f;
}

.collapsableHeaderBtnsContainer{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}
.collapsableBtns{
  position: absolute;
  left: 62%;
  height: 100%;
  width: 38%;
}
.searchWrapperDiv{
  position: absolute;
  height: 100%;
  width: 62%;
}

/****** Asset Editor ********/
.AssetEditor{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  position: absolute;
  width: 66%;
  height: 96%;
  top: 2%;
  left: 32%;
  background-color: white;

  border-width: thin;
  border-style: solid;
  border-color: #303f9f;
}

.AssetEditorTitle{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  min-height: 200;

  position: relative;

  border-bottom-width: thin;
  border-bottom-style: solid;
  border-color: #303f9f;

  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #999;

  cursor: default;
}
.AssetEditorTitleText{
  position: relative;
  width: 100%;

  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  cursor: default;
}
.AssetEditorContent{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex: 1 1 auto;
}

.componentContainer{
  margin-top: 1%;
  position: absolute;
  width: 94%;
  height: 98%;
  left: 3%;
  overflow-y:auto;
  overflow-x: hidden;
}

.formControl{
  width: 49.5%;
}

/***** Others *****/
.playButton{
  position: relative;
  width: 50px;
  height: 50px;
  transform: translate(25px, 25px);
}

.playButtonWrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(100% - 150px);
  left: calc(100% - 100px);
}
