.AssetViewerNoRoundCorner{
  position: absolute;
  width: 28%;
  height: 96%;
  top: 2%;
  left: 2%;
  background-color: white;

  border-width: thin;
  border-style: solid;
  border-color: #303f9f;
}

.AssetEditorNoRoundCorner{
  position: absolute;
  width: 66%;
  height: 96%;
  top: 2%;
  left: 32%;
  background-color: white;

  border-width: thin;
  border-style: solid;
  border-color: #303f9f;
}
