.introductionScreenContainer{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.IntroContentWrapper{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  position: absolute;
  width: 66%;
  height: 96%;
  top: 2%;
  left: 32%;
  background-color: white;

  border-width: thin;
  border-style: solid;
  border-color: #303f9f;
}

.IntroContentTitle{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  min-height: 200;

  position: relative;

  border-bottom-width: thin;
  border-bottom-style: solid;
  border-color: #303f9f;

  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #999;
}

.IntroContent{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex: 1 1 auto;
}
