.ObserverViewerContent{
  position: relative;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1 1 100%;

  height: 100%;
  width: 100%;
}

.ObserverTabContainer{
  position: relative;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  flex-shrink: 1;

  min-height: 0px;
  max-height: 100px;

  width: 100%;
  overflow-x: scroll;
}

.ShowScrollBar::-webkit-scrollbar{
  display: inline-block;
}

.ObserverTabContainer::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
.ObserverTabContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ObserverTabContainer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ObserverTabContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ObserverMessageLog{
  position: relative;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-grow: 1;

  width: 100%;
}

.ViewerGaze{
  display: flex;

  /* Only use if single participant displayed */
  justify-content: center;
  align-items: center;

  min-height: 50px;
  max-height: 200px;

  width: 100%;
  overflow-x: scroll;

  flex: 1 0 auto;
}
