WebEntry/backend/node_modules/*
WebEntry/node_modules/*
WebEntry/build/*
WebEntry/public/Images/*
WebEntry/docs/*
Documents/~$SynquesticonUI-v1.pptx
certificate/domain-crt.txt
certificate/domain-csr.txt
certificate/domain-key.txt
certificate/win-acme.v2.0.10.444/Scripts/ImportAzureApplicationGateway.ps1
certificate/win-acme.v2.0.10.444/Scripts/ImportExchange.ps1
certificate/win-acme.v2.0.10.444/Scripts/ImportRDGateway.ps1
certificate/win-acme.v2.0.10.444/Scripts/ImportRDListener.ps1
certificate/win-acme.v2.0.10.444/Scripts/ImportRDS.ps1
certificate/win-acme.v2.0.10.444/Scripts/ImportSSTP.ps1
certificate/win-acme.v2.0.10.444/Scripts/ImportWinRM.ps1
certificate/win-acme.v2.0.10.444/Scripts/microsoft-dns.ps1
certificate/win-acme.v2.0.10.444/Scripts/PSRDSCerts.bat
certificate/win-acme.v2.0.10.444/Scripts/PSScript.bat
certificate/win-acme.v2.0.10.444/settings_default.config
certificate/win-acme.v2.0.10.444/version.txt
certificate/win-acme.v2.0.10.444/wacs.exe
certificate/win-acme.v2.0.10.444/wacs.exe.config
certificate/win-acme.v2.0.10.444/Web_Config.xml
