WebEntry/backend/node_modules/*
WebEntry/node_modules/*
WebEntry/build/*
WebEntry/public/Images/*
WebEntry/docs/*
VisualStimuli/*
certificate/*
WebEntry/backend/exported_data/*
WebEntry/backend/raw_gaze_data/*
