.multiItemContainer{
  height: 100%;
  Width: 100%;
  overflow-y: auto;
}

.multiItemContent{
  position: relative;
  max-height: 96%;

  overflow-y: auto;
}

.multiItemButtonContainer{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.itemContainer {
  position: relative;
  height: auto;

  padding-bottom: 5%;
}
