.wampMessageBoard {
  font-family: Arial;
  padding: 15px;
  height: 90%;
}

.title {
  font-weight: bold;
  /* color: #BDBDBD; */
}

.messages {
  padding-left: 15px;
  height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
}
