.collpasedContainer{
  position: absolute;
  width: 100%;
  height: auto;
}

/**** Header ******/
.containerHeader{
  position: relative;
  width: 100%;
  height: 55px;
}

.leftHeaderContent{
  position: absolute;
  width: 30%;
  height: 100%;
}
.collapseBtnContainer{
  position: absolute;
  width: 65px;
  height: 100%;
}
.collapseBtn{
  width: 65px;
  height: 100%;
}
.collapsableIcon{
  height: 100%;
}
.rotateIcon{
  transform: rotate(90deg);
}
.titleContainer{
  position: absolute;
  left: 65px;
  width: calc(100% - 65px);
  height: 100%;

  display:flex;
  align-items: center; /* Vertical center alignment */
}
.dropdownTitle{
  font-size: large;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.customHeaderComponents{
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  left: 30%;
}

/**** Content ******/
.collapsableContent{
  width: 90%;
  height: auto;
  margin-left: 5%;
}

.collapsableContentSpacer{
  padding-top: 4px;
  /*padding-bottom: 4px;*/
}


/****** Overrides from Edit Set Component list *******/
.editSetCompContainer{
  position: relative;
  margin-bottom: 4px;
}

.editSetCompHeader{
  background-color: #F5F5F5;
  border: 1px solid #BDBDBD;
  min-height: 40px;
  height: 40px;
}

.editSetCompContent{
  width: 95%;
}
