.collpasedContainer{
  position: relative;
  width: 100%;
  height: auto;
}

/**** Header ******/
.containerHeader{
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}
@media only screen and (max-width: 1100px) {
  .containerHeader {
    flex-direction: column;
  }
  .customHeaderComponents{
    padding-left: 20px;
  }
}

.leftHeaderContent{
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 55px;
}
.collapseBtnContainer{
  position: relative;
  height: 100%;
}

.rotateIcon{
  transform: rotate(90deg);
}
.titleContainer{
  position: relative;
  width: 55px;
  height: 100%;
  display:flex;
  align-items: center; /* Vertical center alignment */
}

.customHeaderComponents{
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

/**** Content ******/
.collapsableContent{
  width: 100%;
  height: auto;
}
