.listItemPreview {
  border: 1px solid grey;
  margin-right: 2.5%;
  min-height: 40px;
  position: relative;
  opacity: 1;

  display:flex;
  align-items: center; /* Vertical center alignment */

  opacity: 0.8;
}

.listItemText{
  width:100%;
}
