.listItemPreview {
  border: 1px solid #BDBDBD;
  background-color: #F5F5F5;
  margin-right: 2.5%;
  min-height: 40px;
  position: relative;
  margin-bottom: 4px;
  opacity: 1;

  display:flex;
  align-items: center; /* Vertical center alignment */

  opacity: 0.8;
}

.listItemText{
  padding-left: 5px;
}

.dotLongText{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
