.ExportationModeContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.ExportationActions{
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  height: 100px;
  align-items: center;
  padding-left: 20px;
}
