.comparisonTask {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  align-self:center;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
}

.comparisonTaskText{
  display: flex;
  position: relative;

  width: 100%;
  flex-shrink: 1;
  margin-bottom: 20px;
}

.comparisonBox{
  display: flex;
  position: relative;

  width: 100%;
  flex-grow: 1;
  flex-direction: row;
}

.firstTask {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: calc(50% - 10px);
}

.taskSpacer{
  width: 20px;
}

.secondTask {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: calc(50% - 10px);
}
