.questionDisplay{
  margin-bottom: 10px;
}

.inputField {
  border-radius: 5px;
  border: 1px solid gray;

  width: 350px;
  height: 40px;

  text-align: left;
  align-items: center;
  display: flex;

  padding-left: 10px;
  line-height: 40px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-bottom: 10px;
}

.inputButton {
  padding: 5px;
}

.firstLine {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.secondLine {
}

.thirdLine {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
