.TextEntry {
  width: 100%;
  height: 100%;
}

.inputField {
  border-radius: 5px;
  border: 1px solid gray;

  width: 350px;
  height: 40px;

  text-align: left;
  font-size: 0.5em;

  padding-left: 10px;
  line-height: 40px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.inputButton {
  padding: 5px;
}

.firstLine {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.secondLine {
}

.thirdLine {
}
