.formRoot{
  position: relative;
  height: 100%;
  width: 100%;
}

.editTaskFormButtons{
  width: 100%;
  height: 9%;
  margin-top: 20px;
}

.questionTypeContainer{
  width: 100%;
  height: auto;
}

.taskComponentContainer{
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
  height: calc(100% - 20px);
  padding-top: 20px;

  display: flex;
  flex-direction: column;

  overflow-y:auto;
}

.formControl{
  width: 49.5%;
}
