.setComponentContainer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y:auto;
  overflow-x: hidden;
}

.setFormContainer{
  position: relative;
  width: 100%;
  height: 43%;
}
.setFormRoot{
  position: relative;
  height: 100%;
  width: 100%;
}

.setTaskListContainer{
  position:relative;
  width: 100%;
  height: 50%;
}
.setTaskListTitle{
  position: absolute;
  width: 100px;
  height: 20px;

  border-style: solid;
  border-bottom-style: none;
  border-width: thin;
  border-color: grey;
}
.setTaskListTitleText{
  position: absolute;
  left: 15px;
}

.setTaskListViewer{
  position: absolute;
  top: 20px;
  height: calc(100% - 20px);
  width: 100%;

  border-style: solid;
  border-width: thin;
  border-color: grey;

  overflow-y: scroll;
  overflow-x: hidden;
}

.editSetComponentButtons{
  position: relative;
  margin-top: 1%;
  width: 100%;
  height: 7%;
}
