.formRoot{
  position: absolute;
  height: 100%;
  width: 100%;
}

.editTaskFormButtons{
  margin-top: 20px;
  width: 100%;
  height: 10%;
}

.questionTypeContainer{
  width: 100%;
  height: auto;
}

.taskComponentContainer{
  margin-top: 1%;
  position: absolute;
  width: 94%;
  height: 98%;
  left: 3%;
  overflow-y:auto;
  overflow-x: hidden;
}

.formControl{
  width: 49.5%;
}
