.page {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #EEEEEE;
}

.nextButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.mainDisplay{
  margin: auto;
  position: fixed;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
}

.questionDisplay {
  font-size: 4em;
  text-align: center;
}

.responsesButtons {
  text-align: center;
  padding: 20px;
  margin: 5px;
}

.picked {
  background-color: green;
}
