.listItem {
  border: 1px solid #BDBDBD;
  padding: 10px;
  background-color: #F5F5F5;
}

.listItemPlaceholder {
  border: 1px solid #BDBDBD;
  background-color: #616161;
  min-height: 40px;
}

.handlingbuttons {
  float: right;
  margin: 0;
}

.button {

}
