.App {
  position: absolute;
  left: 0;
  top: 0;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background-color: #EEE;
  touch-action: manipulation;
}

.MainContent{
  position: absolute;
  width: 100%;
  height: 94%;
}


/***** SCROLLBAR *****/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
