body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: absolute;

  overflow: hidden;

  /* Removes tap highlight */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.App {
  position: relative;
  touch-action: manipulation;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.MainContent{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  flex-grow: 1;
  position: relative;

  overflow: hidden;
}


/***** SCROLLBAR *****/
/* width */
::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
