.headerContent{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  background-color: blue;
}

.AppName {
  display: flex;
  flex-grow: 1;
  flex-shrink:1;

  position: relative;

  font-weight: bold;
  font-family: Arial;

  align-self: center;
  justify-content: center;
}

.centredHeaderTitle{
  position: relative;
  max-width: 100%;
}
